{{ define "main" }}
  {{ partial "about.html" . }}


  <div class="container">
    <div class="row g-md-5 g-0 align-items-center flex-md-row flex-column-reverse mt-2">
      <div class="col-md-6 wow fadeInLeft">
        <div class="Leo_experince">
          <h1 class="py-3">Project Leo Experience</h1>
          <p>
            As Principal Contractor, Project LEO delivers a seamless, full-service construction experience, guiding each project with precision from vision to completion—and beyond. We embrace the highly complex projects others resist, bringing assured expertise and meticulous attention at every stage. Our unwavering commitment to in-house management ensures a consistent standard of excellence and an unrivalled client journey.
            <p></p>
            With a distinguished reputation built on discretion and trust, Project LEO is the first choice for leading architects, quantity surveyors, professional teams, and private clients alike. Our deep-rooted presence in London and the Home Counties affords us unparalleled knowledge of working within the most exacting environments, from the Royal Borough of Kensington and Chelsea and Westminster Council to the storied Grosvenor and Cadogan estates

          </p>
        </div>
      </div>
      <div class="col-md-6 wow fadeInRight">
           <div class="Leo_experinece_img">
            <img class="img-fluid rounded" src="/images/about/leo_experince.jpg" alt="img">
           </div>
      </div>
    </div>

    <div class="row g-md-5 g-0 align-items-center mt-5 mb-4 pb-md-5">

      <div class="col-md-6 wow fadeInLeft">
           <div class="Leo_experinece_img">
            <img class="img-fluid rounded" src="/images/about/health.png" alt="img">
           </div>
      </div>

      <div class="col-md-6 wow fadeInRight">
        <div class="Leo_experince">
          <h1 class="py-3">Health, Safety & Sustainability</h1>
          <p>
          At Project LEO, we believe in considered construction—an approach that shapes every decision we make. Our dedicated in-house health and safety specialists ensure that wellbeing remains paramount, fostering a culture of responsibility, environmental awareness, and engagement with the communities in which we work. This commitment has earned us recognition from the construction industry’s leading trade bodies, including ASUC and the Considerate Constructors Scheme.  
          <p></p>
          Beyond safeguarding our people, Project LEO is resolute in driving forward sustainable practices that respect both our heritage and our future. Every site, whether in London or across the Home Counties, is guided by our environmental manifesto—ensuring responsibility, innovation, and care at every stage.
          <p></p>
          As part of our commitment to climate action, we also partner with Ecologi, contributing monthly donations that support global sustainability initiatives. Through this, Project LEO plants five trees per employee each month, actively removing an estimated 4.5 tonnes of CO2 and making a tangible impact on the world we share.


          </p>
        </div>
      </div>

    </div>
  </div>



{{ end }}